@import 'colours.scss';
@import 'navbar.scss';

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer-height;
    background-color: #8b8d8f;
}

body>.view-container {
    padding: 15px 15px 0;
    margin-left: 300px;
}

@media (max-width: 767px) {
  body>.view-container {
    padding: 15px 15px 0;
    margin-left: 0;
}
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: $banner-colour;
    color: $banner-text-colour;
    p {
        margin: 20px 0;
    }
    .view-container {
        padding-right: 15px;
        padding-left: 15px;
    }
}