@import 'colours.scss';
@import 'navbar.scss';
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer-height;
    background-color: $neutral-gray5;
}

body>.view-container {
    padding: 15px 15px 0;
    margin-left: 300px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

@media (max-width: 767px) {
    body>.view-container {
        margin-left: 0;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: $gray15;
    color: $gray5;
    p {
        margin: 20px 0;
    }
    .view-container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

// .navbar-inverse {
//     background-color: $gray15;
// }
// .navbar-inverse .navbar-brand {
//     color: $gray5;
// }
.asset-summary {
    height: 100px;
    background-color: $white;
    margin-bottom: 15px; //padding: 1rem;
}

.card {
    //display: block;
    background-color: $white;
}
