@import 'colours.scss';
@import 'navbar.scss';
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer-height;
    background-color: $neutral-gray5;
}

// main page content
.view-container {
    padding: 5px 5px 0;
    margin-left: 220px;
    margin-top: $header-height;
}

// hide {{ }} when populating model data
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

@media (max-width: 767px) {
    .view-container {
        margin-left: 0;
        margin-top: 0;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: $gray15;
    color: $gray5;
    p {
        margin: 20px 0;
    }
    .view-container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.asset-summary {
    // probably needs to be removed when we have real data
    min-height: 100px;
}

.card {
    padding: 1rem;
    background-color: $white;
    margin-bottom: 5px;
}

.title-card{
    height: 60px;
}

// bootstrap modifications
.row {
    margin-right: -2.5px;
    margin-left: -2.5px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 2.5px;
    padding-left: 2.5px;
}