<h1>Dashboad</h1>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <asset-summary></asset-summary>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <asset-summary></asset-summary>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <asset-summary></asset-summary>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <asset-summary></asset-summary>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <asset-summary></asset-summary>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <asset-summary></asset-summary>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <asset-summary></asset-summary>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <asset-summary></asset-summary>
    </div>
</div>
